@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl font-bold md:text-4xl;
	}

	h2 {
		@apply text-2xl font-bold md:text-3xl;
	}

	h3 {
		@apply text-xl font-bold md:text-2xl;
	}

	h4 {
		@apply text-lg font-bold md:text-xl;
	}

	body {
		@apply font-primary antialiased;
	}

	.layout {
		@apply w-11/12 max-w-2xl mx-auto;
	}
}
